UPDATE student_documents sd SET id_number = s.id_number FROM student_documents_student_lnk lnk JOIN students s ON s.id = lnk.student_id WHERE sd.id = lnk.student_document_id AND (sd.id_number IS NULL OR sd.id_number = '');
